{% extends "onecolumn.html" %}

{% load i18n  %}
{% load static %}

{% block title %}TeMMPo: Probe page{% endblock %}

{% block section_title %}Monitoring{% endblock %}

{% block section %}

{% if messages %}
<ul class="error_message">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<table>
    <thead>
        <tr>
        <th scope="col">Component</th>
        <th scope="col">Status</th>
        <th scope="col">Duration</th>
        </tr>
    </thead>
    <tbody>
    {% for component in components %}
        <tr>
            <td>{{ component.label }}</td>
            {% if component.pass %}
                <td class="success">UP</td>
            {% else %}
                <td class="failure">DOWN</td>
            {% endif %}
            <td>{{ component.time }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<p class="totals">{{ components|length }} tests, total time taken: <b>{{ duration }}s</b></p>

{% endblock %}
