<div id="breadcrumb">
    <ul class="crumbs">
      <li class="first"><span></span><a style="z-index:9;" href="{% url 'exposure_selector' object.id %}">Exposures</a></li>
      <li><a  style="z-index:8;" href="{% url 'mediator_selector' object.id %}">Mediators</a></li>
      <li><a  style="z-index:7;" href="{% url 'outcome_selector' object.id %}">Outcomes</a></li>
      <li class="last"><a  style="z-index:6;" href="{% url 'filter_selector' object.id %}">Genes &amp; Filter</a></li>
    </ul>
</div>