<div id="breadcrumb">
	<ol class="breadcrumb">
		<li {% if active == "search" %} active{% endif %}"><a href="{% url 'search' %}">Abstracts</a></li>
		{% if object %}
		      <li><a href="{% url 'exposure_selector' object.id %}">Exposures</a></li>
		      <li><a href="{% url 'mediator_selector' object.id %}">Mediators</a></li>
		      <li><a href="{% url 'outcome_selector' object.id %}">Outcomes</a></li>
		      <li><a href="{% url 'filter_selector' object.id %}">Genes &amp; Filter</a></li>
		{% else %}
		      <li>Exposures</li>
		      <li>Mediators</li>
		      <li>Outcomes</li>
		      <li>Genes &amp; Filter</li>
		{% endif %}
	</ol>
</div>