<meta charset="utf-8" />
<meta name="description" content="{{ description }}">
<meta name="keywords" content="{{ keywords }}">
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Ubuntu+Condensed">
<link rel="stylesheet" type="text/css" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.min.css">

<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script src="{{ STATIC_URL }}js/skel.min.js"></script>
<script src="{{ STATIC_URL }}js/skel-layers.min.js"></script>
<script src="{{ STATIC_URL }}js/init.js"></script>

<noscript>
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/skel.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style-desktop.css">
</noscript>

<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/temmpo.css">
<!--[if lte IE 9]><link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/ie9.css" /><![endif]-->
<!--[if lte IE 8]><script src="{{ STATIC_URL }}js/html5shiv.js"></script><![endif]-->

