<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{{ description }}">
<meta name="keywords" content="{{ keywords }}">

<!-- TODO Confirm if still required or included elsewhere
<link rel="stylesheet" type="text/css" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
 
 TODO: Confirm site functional - concerns regarding the age of the jquery included in the theme 
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
-->

<!-- Bootstrap Core CSS -->
<link href="{{ STATIC_URL }}sb-admin-2/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- MetisMenu CSS -->
<link href="{{ STATIC_URL }}sb-admin-2/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

<!-- Custom CSS -->
<link href="{{ STATIC_URL }}sb-admin-2/dist/css/sb-admin-2.min.css" rel="stylesheet">

<!-- Morris Charts CSS -->
<!-- <link href="{{ STATIC_URL }}sb-admin-2/vendor/morrisjs/morris.css" rel="stylesheet"> -->

<!-- Custom Fonts -->
<link href="{{ STATIC_URL }}sb-admin-2/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

<!-- TeMMPo specific CSS -->
<link href="{{ STATIC_URL }}css/temmpo.css" rel="stylesheet" type="text/css">
<link href="{{ STATIC_URL }}css/breadcrumb.css" rel="stylesheet" type="text/css">

<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<![endif]-->
