<header id="header">
    <h1><a href="{% url 'home' %}" id="logo">TeMMPo</a></h1>
    <nav id="nav">
        <a href="{% url 'home' %}" {% if active == "home" %}class="current-page-item"{% endif %}>Home</a>
        <a href="{% url 'credits' %}" {% if active == "credits" %}class="current-page-item"{% endif %} >Credits</a>
        <a href="{% url 'search' %}" {% if active == "search" %}class="current-page-item"{% endif %}>Search</a>
        {% if user.is_authenticated %}
        <a href="{% url 'results-listing' %}" {% if active == "results" %}class="current-page-item"{% endif %}>Results</a>
        <a href="{% url 'password_change' %}">Change password</a>
        <a href="{% url 'logout' %}">Sign out</a>
        {% else %}
           <a href="{% url 'registration_register' %}" {% if active == "register" %}class="current-page-item"{% endif %}>Register</a>
           <a href="{% url 'login' %}" {% if active == "login" %}class="current-page-item"{% endif %}>Sign in</a>
        {% endif %}
    </nav>
</header>