{% extends "onecolumn.html" %}

{% block title %}TeMMPo: Select genes and filter{% endblock %}

{% block section_title %}Select genes and filter{% endblock %}
{# Appears to need to be loaded in the header vs the footer of the page and autocomplete needs this before form media #}
<script src="{{ STATIC_URL }}admin/js/vendor/jquery/jquery.min.js"></script>
<script src="{{ STATIC_URL }}admin/js/jquery.init.js"></script>
{% block scripts %}{{ form.media.js }}{% endblock %}
{% block styles %}
{{ form.media.css }}
{% endblock %}

{% block page_heading %}
{% include 'includes/breadcrumb.html' %}
{% endblock %}

{% block section %}
    <form action="." method="post">
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <div class="form-group">
            <p class="help-block">Searches can take a long time.</p>
        </div>
        {# so you will be emailed when yours has finished and data is available #}
        <button type="submit" class="btn btn-primary">Start search</button>
    </form>
{% endblock %}
