{% extends "onecolumn.html" %}

{% block title %}TeMMPo: User account{% endblock %}

{% block section_title %}User account{% endblock %}

{% block section %}

<p>Manage your user account on TeMMPo.</p>

<ul>
	<li><a href="{% url 'password_change' %}">Change password</a></li>
    {% if user.is_superuser %}
    <li>Super user only - <a href="{% url 'manage_users' %}">Manage users</a></li>
    {% endif %}
	<li><a href="{% url 'close_account' pk=user.id %}">Close your account and delete all searches</a> (requires confirmation)</li>
</ul>

{% endblock %}