{% extends "onecolumn.html" %}

{% block title %}TeMMPo: Login{% endblock %}

{% block section_title %}Login{% endblock %}

{% block section %}
<p class="lead">
You need to <a href="{% url 'registration_register' %}">register</a> or login to use this tool.
</p>
<form action="{% url 'login' %}" method="post">
    {% csrf_token %}
	{% include 'includes/form.html' %}
    <p><button type="submit" class="btn btn-primary" >Login</button> <a href="{% url 'password_reset' %}" class="btn btn-default">Forgotten your password?</a> </p>
</form>
{% endblock %}