{% extends "onecolumn.html" %}

{% block title %}TeMMPo: Password reset{% endblock %}

{% block section_title %}Password rest{% endblock %}

{% block section %}

	{% if validlink %}

		<p>Please enter your new password:</p>

		{% if form.errors %}
		    <p class="errorlist">
		    {% if form.errors.items|length == 1 %}Please correct the error below.{% else %}Please correct the errors below.{% endif %}
		    </p>
		{% endif %}

		<form action="" method="post" >
		    {% csrf_token %}
		    {% include 'includes/form.html' %}
		    <button type="submit" class="btn btn-primary" >Reset password</button>
		</form>

	{% else %}
		The password reset link was invalid.
	{% endif %}

{% endblock %}