{% extends "onecolumn.html" %}

{% block title %}TeMMPo: Register{% endblock %}

{% block section_title %}Register{% endblock %}

{% block section %}
<p>
    We will not disclose your personal information to third parties unless we have your permission or are required by law to do so. You may request details of personal information which we hold about you under the Data Protection Act 1998. If you would like a copy of the information held on you please contact <a href="http://www.bris.ac.uk/it-services/it-services/research">Research IT, University of Bristol</a>. 
</p>


<form action="{% url 'registration_register' %}" method="post" >
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-primary">Register</button>
</form>

{# Use version of registration form that includes terms of service https://django-registration-redux.readthedocs.org/en/latest/forms.html#registration.forms.RegistrationFormTermsOfService #}
{% endblock %}