/* Custom */

.node rect {
    cursor: move;
    fill-opacity: .9;
    shape-rendering: crispEdges;
}

.node text {
    pointer-events: none;
    text-shadow: 0 1px 0 #fff;
}

.link {
    fill: none;
    stroke: #000;
    stroke-opacity: .2;
}

.link:hover {
    stroke-opacity: .5;
}

#home-page-figure img
{
    display: block;
    margin-left: auto;
    margin-right: auto
}

#copyright 
{
    padding-top: 1em;
}

.errorlist, .warning
{
    color: #800000;
}

#breadcrumb 
{
    margin-top:0.25em;
}

.breadcrumb>li+li:before
{
    content: "\21D2\00a0";
}

.page-header
{
    margin-top: 30px !important;
}

#master_include_child_nodes 
{
  margin-top:0.5em;
  margin-bottom: 0em;
} 

#master_include_child_nodes label
{
    padding: 0.25em 0em 0.25em 0.5em;
    margin-top: 0em;
    margin-bottom: 0em;
} 

#chart-slider-label
{
    font-size: large;
    border: 0;
    color: #f6931f;
    font-weight: bold;
    width: 30px;
}

#slider{ margin-bottom: 1em; }

#results-buttons
{
    margin-top: 1em;
}

#sankey_multiple, #bubble_chart
{
    margin: auto;
    width: 100%;
    height: 100%;
}

.results-page .page-header, .criteria-page .page-header
{
    display: none;
}

.results-page #page-wrapper, .criteria-page #page-wrapper 
{
    padding-left: 0px;
}

.results-page .nav-tabs, .criteria-page .nav-tabs
{
    margin-top:1em;
    margin-bottom:1em;
}