{% extends "onecolumn.html" %}

{% block title %}TeMMPo: Credits{% endblock %}

{% block section_title %}Credits{% endblock %}

{% block section %}
<dl class="dl-horizontal">
	<dt>Data</dt>
	<dd><a href="https://www.nlm.nih.gov/mesh/meshhome.html" title="External website">2015, 2018, &amp; 2019 MeSH®</a>: Medical Subject Headings terms provided by U.S. National Library of Medicine.</dd>
	<dd><a href="https://www.nlm.nih.gov/bsd/medline.html" title="External website">MEDLINE®</a>: Export format of the National Library of Medicine® (NLM®) journal citation database.</dd>
	<dt>Technologies</dt>
	<dd><a href="https://d3js.org/" title="External website">D3 Data-Driven Documents</a>: An open source JavaScript library, distributed under the BSD license.</dd>
    <dd><a href="https://developers.google.com/chart/" title="External website">Google Charts</a>: Available through a Google's visualization API</a>.</dd>
	<dd><a href="https://datatables.net/license/mit" title="External website">DataTables</a>: distributed under MIT license.</dd>
	<dd><a href="https://www.djangoproject.com/" title="External website">Django</a>: A Python Web framework, distributed under the BSD license.</dd>
	<dd><a href="https://github.com/vakata/jstree" title="External website">jsTree</a>: An open source jquery plugin, distributed under the MIT license.</dd>
	<dd><a href="https://startbootstrap.com/template-overviews/sb-admin-2/" title="External website" >SB Admin 2</a>: distributed under the MIT License.<dd>
</dl>
{% endblock %}