{% extends "onecolumn.html" %}

{% block title %}TeMMPo: Search criteria{% endblock %}

{% block body_class_style %}criteria-page{% endblock %}

{% block section_title %}Search criteria{% endblock %}

{% block section %}

<ul class="nav nav-tabs">
    <li class="active"><a href="#">Search criteria</a>
    </li>
    {% if results_sankey_url %}
    <li><a href="{{ results_sankey_url }}">Mechanism visualisation</a>
    </li>
    {% endif %}
    {% if results_bubble_url %}
    <li><a href="{{ results_bubble_url }}">Score visualisation</a>
    </li>
    {% endif %}
</ul>

<table id="criteria" class="table">
    <caption>Criteria</caption>
    <thead>
        <tr>
            <th scope="col" class="dt-left">Reference</th>
            <th scope="col" class="dt-left">Values</th>
        </tr>
    </thead>
     <tbody>
        <tr>
            <th scope="row" class="dt-left">Exposures</th>
            <td>{{ exposures }}</td>
        </tr>
        <tr>
            <th scope="row" class="dt-left">Mediators</th>
            <td>{{ mediators }}</td>
        </tr>
        <tr>
            <th scope="row" class="dt-left">Outcomes</th>
            <td>{{ outcomes }}</td>
        </tr>
        <tr>
            <th scope="row" class="dt-left">Genes</th>
            <td>{{ genes }}</td>
        </tr>
        <tr>
            <th scope="row" class="dt-left">Abstract</th>
            <td>{{ upload }} </td>
        </tr>
     </tbody>
</table>

<hr>
<a href="{{ reuse_criteria_url }}" class="btn btn-primary">Reuse search criteria</a> <a href="{{ reuse_abstract_url }}" class="btn btn-default">Reuse abstracts only</a>

{% endblock %}
