{% extends "onecolumn.html" %}

{% block title %}TeMMPo: Select genes and filter{% endblock %}

{% block section_title %}Select genes and filter{% endblock %}

{% block scripts %}{{ form.media.js }}{% endblock %}
{% block styles %}{{ form.media.css }}{% endblock %}

{% block page_heading %}
{% include 'includes/breadcrumb.html' %}
{% endblock %}

{% block section %}
    <form action="." method="post">
        {% csrf_token %}

        {{ form.as_p }}

        <p>Searches can take a long time.</p>
        <!--  so you will be emailed when yours has finished and data is available -->
        <button type="submit" class="button">Start search</button>
    </form>
{% endblock %}
