{% extends "index.html" %}

{% block title %}TeMMPo: Text Mining for Mechanism Prioritisation{% endblock %}

{% block headertitle %}TeMMPo: Text Mining for Mechanism Prioritisation{% endblock %}
{% block headersubtitle %}{%endblock %}

{% block sectiontitle %}About TeMMPo{% endblock %}
{% block section %}
<p>
About TeMMPo ... ipsum dolor sit amet, consectetur adipiscing elit. Donec ex quam, porttitor nec ex non, mollis egestas tellus. Pellentesque efficitur blandit felis ut mollis. Morbi consequat eget turpis ac faucibus. Nunc placerat, risus gravida lacinia ullamcorper, mi risus eleifend ipsum, quis rutrum dui urna quis augue. Etiam condimentum pulvinar nulla, id feugiat libero placerat sit amet. Proin malesuada dolor a efficitur fringilla. Sed ultricies vestibulum dui. Quisque vel sem at nulla consectetur luctus a a mauris. In hac habitasse platea dictumst. Donec commodo ornare velit, in condimentum mauris lobortis vel.
</p>
{% endblock %}