{% extends "index.html" %}

{% block title %}TeMMPo: Text Mining for Mechanism Prioritisation{% endblock %}

{% block section_title %}About TeMMPo{% endblock %}
{% block section %}
<p>TeMMPo (Text Mining for Mechanism Prioritisation) is a web-based tool to enable researchers to identify the quantity of literature suggesting specific mechanisms between an exposure and outcome. The tool counts co-occurrence of mechanistic <a href="http://www.nlm.nih.gov/mesh/">MeSH</a> terms between with exposure terms and outcome terms in a set of articles. </p>
<p>The mechanistic MeSH terms that co-occur with both exposure and outcome in the literature (potentially in separate articles) are quantified according to how often they occur in conjunction with the exposure and the outcome. TeMMPo prioritises those mechanistic terms which have a relatively balanced and substantial link (in terms of number of articles) with both exposure and outcome. </p>

<figure id="home-page-figure">
<img src="{{ STATIC_URL}}images/temmpovenn.png" height="200" alt="Exposure - Intermediate - Outcome" class="img-fluid" />
</figure>

<p>TeMMPo is particularly useful when a specific lifestyle or dietary exposure is known to associate with a disease outcome, but little is known about which underlying mechanisms have been most investigated in the scientific literature.</p>
<p>TeMMPo was developed to support the <a href="http://www.wcrf.org/int/research-we-fund/continuous-update-project-cup">WCRF Continuous Update Projet (CUP)</a> by enabling prioritisation of mechanisms for systematic review in the CUP.
<hr />

<p>This development was funded by the <a href="https://www.wcrf-uk.org/">World Cancer Research Fund UK</a>, the <a href="https://www.mrc.ac.uk/">UK Medical Research Council</a> and the <a href="http://www.bristol.ac.uk">University of Bristol</a>.</p>
{% endblock %}
