{% extends "index.html" %}

{% block title %}TeMMPo: Text Mining for Mechanism Prioritisation{% endblock %}

{% block headertitle %}TeMMPo: Text Mining for Mechanism Prioritisation{% endblock %}
{% block headersubtitle %}{%endblock %}

{% block sectiontitle %}About TeMMPo{% endblock %}
{% block section %}
<p>TeMMPo (Text Mining for Mechanism Prioritisation) is a web-based tool to enable epidemiologists to identify the quantity of published evidence for specific mechanisms between an exposure and outcome. The tool identifies co-occurrence of <a href="http://www.nlm.nih.gov/mesh/">MeSH</a> headings in scientific publications to indicate papers that link an intermediate mechanism to either an exposure or an outcome. </p>

<figure>
<img src="{{ STATIC_URL}}/images/fig1.png" alt="" />
</figure>

<p>TeMMPo is particularly useful when a specific lifestyle or dietary exposure is known to associate with a disease outcome, but little is known about the underlying mechanisms. Understanding these mechanisms may help develop interventions, sub-classify disease or establish evidence for causality. TeMMPo quantifies the body of published literature to establish which mechanisms have been researched the most, enabling these mechanisms to be subjected to systematic review.</p>

<hr />

<p>This development was funded by the <a href="http://www.wcrf-uk.org">World Cancer Research Foundation</a>, the <a href="http://www.mrc.ac.uk">UK Medical Research Council</a> and the <a href="http://www.bristol.ac.uk">University of Bristol</a>.</p>
{% endblock %}