<!DOCTYPE HTML>
<html lang="en">

    <head>
        <title>{% block title %}{% endblock %}</title>
        {% include 'includes/header.html' %}
        {% block styles %}{% endblock %}
    </head>

    <body>
        <div id="wrapper">

            {% include 'includes/menu.html' %}

            <!-- Page Content -->
            <div id="page-wrapper">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-lg-12">
                            <h1 class="page-header">{% block section_title %}{% endblock %}</h1>
                        </div>
                    </div>
                    <!-- /.col-lg-12 -->
                    <div class="row">
                        <div class="col-lg-12">
                            {% block page_heading %}{% endblock %}
                        </div>
                    </div>
                    <!-- /.col-lg-12 -->
                    <div class="row">
                        <div class="col-lg-12">
                            {% block section %}{% endblock %}

                            {% block additional_content %}{% endblock %}
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                    <div class="row">
                        <div class="col-lg-12">
                            {% include 'includes/footer.html' %}
                        </div>
                        <!-- /.col-lg-12 -->
                    </div>
                    <!-- /.row -->
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /#page-wrapper -->
        </div>
        <!-- /#wrapper -->

        {% include 'includes/javascript.html' %}
        {% block scripts %}{% endblock %}

    </body>

</html>
