{% extends "onecolumn.html" %}

{% block title %}TeMMPo: Privacy policy{% endblock %}

{% block section_title %}Privacy policy{% endblock %}

{% block section %}

<h2>Types of personal data you collect</h2>
<dl>
    <dt>IP address</dt>
    <dd>to track website usage and measure research impact</dd>
    <dt>Email address</dt>
    <dd>to support website user accounts</dd>
</dl>

<h2>How long we retain your data</h2>
<p>
    We retain your personal information in line with the <a href="http://www.bristol.ac.uk/secretary/data-protection/policy/">University of Bristol's data protection policies of the University of Bristol</a>.
</p>

<h2>What rights you have over your data</h2>
<p>If you have an account on this website you can delete any personal data we hold about you.</p>

<h2>Cookie usage</h2>
<p>
    A third party service, Google Analytics with IP Anonymization enabled, is used to gather statistics for this website.   Further information about <a href="https://support.google.com/analytics/topic/2919631?src=soctw">Google Analytic's data privacy and security</a>.  How <a href="https://developers.google.com/analytics/devguides/collection/analyticsjs/cookie-usage">Google makes use of cookies to provide website statistics</a>.
</p>
<p>
    If you have an account and you log in to this site, we will set a temporary cookie to determine if your browser accepts cookies.  This cookie contains no personal data and is discarded when you close your browser.
</p>

{% endblock %}
