{% extends "onecolumn.html" %}

{% block title %}TeMMPo: Search {{ file_type }}{% endblock %}

{% block scripts %}
{% endblock %}

{% block section_title %}Search {{ file_type }} formatted abstracts{% endblock %}

{% block page_heading %}
{% include 'includes/breadcrumb.html' %}
{% endblock %}

{% block section %}
<p class="lead">
    Upload a new text file of medical journal abstracts.
</p>
<form action="{{ form_action }}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% include 'includes/form.html' %}
    <button type="submit" class="btn btn-primary">Upload</button>
</form>

<div class="controls">
	<hr />
    <a href="{% url 'search' %}" class="btn btn-default sml-button">Return to alternative search methods</a>
</div>
{% endblock %}
