{% extends "twocolumn1.html" %}

{% block title %}TeMMPo: Search{% endblock %}

{% block scripts %}
{% endblock %}

{% block sectiontitle %}Search{% endblock %}

{% block section-minor %}
<p>Existing search criteria:</p>
<ul class="link-list">
    {% for search in criteria %}
        <li><a href="{% url 'edit-search' pk=search.id %}">{{ search }}</a></li>
    {% empty %}
        <li>No saved search criteria.</li>
    {% endfor %}
</ul>
{% endblock %}

{% block section %}
<p>
    Upload a new text file of medical journal abstracts.
</p>
<form action="{% url 'search' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="button">Upload</button>
</form>
{% endblock %}