{% extends "twocolumn1.html" %}

{% block title %}TeMMPo: Search{% endblock %}

{% block scripts %}
{% endblock %}

{% block sectiontitle %}Search{% endblock %}

{% block section-minor %}

<h3>Use previously uploaded files:</h3>
<ul class="link-list">
    {% for upload in uploads %}
        <li><a href="{% url 'reuse-upload' pk=upload.id %}">{{ upload }}</a></li>
    {% empty %}
        <li>No previously uploaded abstracts.</li>
    {% endfor %}
</ul>
<!-- TODO Need to paginate or collapse list at some point-->

<h3>Reuse existing search criteria:</h3>
<ul class="link-list">
    {% for search in criteria %}
        <li><a href="{% url 'criteria' pk=search.id %}">{{ search }}</a></li>
    {% empty %}
        <li>No saved search criteria.</li>
    {% endfor %}
</ul>
<!-- TODO Need to paginate or collapse list at some point-->
{% endblock %}

{% block section %}
<p>
    Upload a new text file of medical journal abstracts.
</p>
<form action="{% url 'search' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="button">Upload</button>
</form>
{% endblock %}