{% extends "onecolumn.html" %}

{% block title %}TeMMPo: Confirm user deletion{% endblock %}

{% block section_title %}Confirm deletion of {{user_to_delete}}{% endblock %}

{% block scripts %}{{ form.media.js }}{% endblock %}
{% block styles %}
{# Appears to need to be loaded in the header vs the footer of the page #}
<script src="{{ STATIC_URL }}admin/js/vendor/jquery/jquery.min.js"></script>
<script src="{{ STATIC_URL }}admin/js/jquery.init.js"></script>
<script src="{{ STATIC_URL }}simple_autocomplete/jquery-ui.js"></script>
{{ form.media.css }}
<link rel="stylesheet" href="{{ STATIC_URL }}simple_autocomplete/jquery-ui.css" />
{% endblock %}


{% block section %}

    {% if search_still_running %}
        <p>This user has a search that is still running. You cannot delete their account whilst searches are running.
            Please wait for the search to finish before trying to delete the user.</p>

    {% else %}
        <p>Please confirm that you want to delete this user (<strong>{{user_to_delete}}</strong>) and all their searches, results and uploads.<br>
        <strong>This action cannot be undone and the account will be deleted immediately.</strong></p>

        <form action="" method="post">
            {% csrf_token %}
            <input type="submit" class="btn btn-danger" value="Delete user (inc. their searches and uploads)">
        </form>
    {% endif %}

{% endblock %}
