{% extends "tworowsthreecolumns.html" %}

{% block title %}TeMMPo: Select {{ type }} MeSH® terms{% endblock %}

{% block styles %}
<!-- jsTree -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jstree/3.1.1/themes/default/style.min.css" />
{% endblock %}

{% block page_heading %}
    {% include 'includes/breadcrumb.html' %}
{% endblock %}

{% block section_title %}{{ form_title }}{% endblock %}

{% block left_width %}3{% endblock %}
{% block middle_width %}2{% endblock %}
{% block right_width %}7{% endblock %}

{% block row %}
{% if pre_selected_term_names %}<a href="{{ next_url }}" class="btn btn-primary">Now select {{ next_type }} &nbsp;<span class="fa fa-angle-double-right">&nbsp;</span></a>{% endif %}
{% endblock %}
{% block left_column %}

    {% if messages %}
        <ul class="errorlist">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% for error in form.term_names.errors %}
        <p class="errorlist">{{ error }}</p>
    {% endfor %}

    {% for error in form.term_tree_ids.errors %}
        <p class="errorlist">{{ error }}</p>
    {% endfor %}

    {% if form.non_field_errors %}
        <p class="warning">The following terms have been already used as exposure, mediator, outcome or gene criteria:</p>
        <ul class="errorlist">
           {% for error in form.non_field_errors %}
           <li>{{ error }}</li>
           {% endfor %}
        </ul>
    {% endif %}

    {# if pre_selected_term_names #}
      <section>
          <h2>Current {{ type }} terms</h2>
          <p>{{ pre_selected_term_names }}</p>
      </section>
    {# endif #}

{% endblock %}

{% block middle_column %}
  <section>
    <h2>Bulk edit</h2>
    <form action="." method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="term_names" class="control-label">Enter <abbr title="Medical Subject Headings">MeSH®</abbr> terms: separated by a semicolon (<strong>;</strong>)</label>
          <textarea id="term_names" name="term_names" rows="10" cols="35">{{ form.term_names.value|default:"" }}</textarea>
        </div>
        <button type="submit" name="btn_submit" value="replace" class="btn btn-primary btn-sm btn-outline">{% if pre_selected_term_names %}Replace{% else %}Add{% endif %}</button>
    </form>
  </section>
{% endblock %}

{% block right_column %}
      <h2>{{ selected_tree_root_node }} <abbr title="Medical Subject Headings">MeSH®</abbr> terms</h2>

      <form action="." method="post" id="select_child_nodes">

      </form>

      <form action="." method="post" id="search_form">
          <!-- Search -->
          <div class="form-group">
            <label for="search_term" class="control-label">Search</label>
            <input id="search_term" name="search_term" type="text" value="" />
          </div>
          <div class="form-group">
            <button type="submit" id="search_button" value="search" class="btn btn-primary btn-sm btn-outline">Search</button>
          </div>
      </form>

      <form action="." method="post">
          {% csrf_token %}
          <!-- Select child nodes -->
          <!-- TOD: Not keeping previous value in form for select child nodes  -->
          <div class="form-group">
            <label for="id_include_child_nodes_0">Select descendent MeSH® terms</label>

            {% for input in form.include_child_nodes %}
                {{ input }}
            {% endfor %}

          </div>

          <!-- js tree -->
          {# Ajax version #}
          <div id="term_tree">
          </div>

          <div class="form-group">
            <button type="submit" name="btn_submit" value="choose" class="btn btn-primary btn-sm btn-outline">Select these terms and choose more {{ type }} terms</button>
          </div>

          <div class="form-group">
              <button type="submit" name="btn_submit" value="progress" class="btn btn-primary btn-sm btn-outline">Select these terms and move on to select {{ next_type }}</button>
          </div>

          <input type="hidden" name="term_tree_ids" id="term_tree_ids" value="{{ pre_selected }}" />
      </form>

{% endblock %}

{% block scripts %}
<!-- jsTree -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jstree/3.1.1/jstree.min.js"></script>

      <script type="text/javascript">
        $(function() {

          $('#term_tree').on("init.jstree", function (e, data) {
              data.instance.settings.checkbox.cascade = '';
          })

          $("#term_tree").jstree({
            "plugins" : [ "checkbox", "search"],
            "core" : {
              "data" : {
                "url" : "{{ json_url }}",
                "data" : function (node) {
                  return { "id" : node.id };
                }
              },
            },
            "search" : {
                "ajax" : {
                  "url" : "{{ json_search_url }}"
                }
            },
            /* Add a radio button toggle to select child nodes or not - default to not */
            "checkbox" : { 
              "three_state" : false,
              "cascade" : "down"
            }
          });
        });

        // TODO: Preferably add visual cue to when the search has completed
        // possibly hide control / show a spinner
        // Need to hide on complete of the .search event.
        $( "document" ).ready(function () {
              $('#search_form').submit(function (event) {
                  var v = $('#search_term').val();
                  $('#term_tree').jstree(true).search(v);
                  event.preventDefault();
              });

              /* Allow user to toggle whether or not child terms are selected as well */
              $('input[name="include_child_nodes"]').change(function (event) {
                  var v = $('input[name="include_child_nodes"]:checked').val();
                  console.log(v);
                  $('#term_tree').jstree(true).settings.checkbox.cascade = v;

                  event.preventDefault();
              });
        });

        // Alternative search as you type method
        // $(function () {
        //       var to = false;
        //       $('#search_term').keyup(function () {
        //         if(to) { 
        //           clearTimeout(to); 
        //         }
        //         to = setTimeout(function () {
        //             var v = $('#search_term').val();
        //             $('#term_tree').jstree(true).search(v);
        //           }, 250);
        //         })
        //   });

        $( "document" ).ready(function() {
            // Open all
            var pre_selected = "{{ pre_selected }}";
            var pre_sel_list = pre_selected.split(",");

            pre_sel_list.map( function(item) {
                var node = '#' + item;
                // Open the node
                $('#term_tree').jstree(true).check_node(node);
            })
        });

      </script>

      <script src="{{ STATIC_URL }}js/tree_handler.js"></script>

{% endblock %}
