{% extends "threecolumn.html" %}

{% block title %}TeMMPo: Select {{ type }} MeSH® terms{% endblock %}

{% block styles %}
<!-- jsTree -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jstree/3.1.1/themes/default/style.min.css" />
{% endblock %}

{% block page_heading %}
{% include 'includes/breadcrumb.html' %}
{% endblock %}

{% block left_column %}

    <section>
      <h2>{{ form_title }}</h2>
      {% if messages %}
      <ul class="errorlist">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
      {% endif %}

      {% if form.non_field_errors %}
        <p class="warning">The following terms have been already used as exposure, mediator, outcome or gene criteria:</p>
        <ul class="errorlist">
           {% for error in form.non_field_errors %}
           <li>{{ error }}</li>
           {% endfor %}
        </ul>
      {% endif %}
    </section>

    {% if pre_selected_term_names %}
    <section>
        <h3>Current {{ type }} terms</h3>
        <p>{{ pre_selected_term_names }}</p>
        {# TODO Improve mechanism for moving through workflow #}
        <a href="{{ next_url }}" class="btn btn-default">Select {{ next_type }}</a>
    </section>
    {% endif %}
{% endblock %}

{% block middle_column %}
  <section>
    <h3>Bulk edit</h3>
    <form action="." method="post">
        {% csrf_token %}
        <label for="term_names">Enter <abbr title="Medical Subject Headings">MeSH®</abbr> terms: separated by a semicolon (<strong>;</strong>)</label>
        <textarea id="term_names" name="term_names" rows="10" cols="35">{{ form.term_names.value|default:"" }}</textarea>
        <button type="submit" name="btn_submit" value="replace" class="sml-button btn btn-default">{% if pre_selected_term_names %}Replace{% else %}Add{% endif %}</button>
    </form>
  </section>
{% endblock %}

{% block right_column %}
    {# if selected_tree_root_node #}
      <h3>{{ selected_tree_root_node }} <abbr title="Medical Subject Headings">MeSH®</abbr> terms</h3>


      <form action="." method="post" id="search_form">
          <!-- Search -->
          <label for="search_term">Search</label>
          <input id="search_term" name="search_term" type="text" value="" />
          <button type="submit" id="search_button" value="search" class="sml-button btn btn-default">Search</button>
      </form>

      <form action="." method="post">
          {% csrf_token %}
          <!-- js tree -->
          {# Ajax version #}
          <div id="term_tree">
          </div>
          <button type="submit" name="btn_submit" value="choose" class="sml-button btn btn-default">Select these terms and choose more {{ type }} terms</button>
          
          <button type="submit" name="btn_submit" value="progress" class="sml-button btn btn-default">Select these terms and move on to select {{ next_type }}</button>

          <input type="hidden" name="term_tree_ids" id="term_tree_ids" value="{{ pre_selected }}" />
      </form>

{% endblock %}

{% block scripts %}
<!-- jsTree -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jstree/3.1.1/jstree.min.js"></script>

      <script type="text/javascript">
        $(function() {
          $("#term_tree").jstree({
            "plugins" : [ "checkbox", "search"],
            "core" : {
              "data" : {
                "url" : "{{ json_url }}",
                "data" : function (node) {
                  return { "id" : node.id };
                }
              },
            },
            "search" : {
                "ajax" : {
                  "url" : "{{ json_search_url }}"
                }
              }
          });
        });

        // TODO: Preferably add visual queue to when the search has completed
        // possibly hide control / show a spinner
        // Need to hide on complete of the .search event.        
        $( "document" ).ready(function () {
              $('#search_form').submit(function (event) {
                  var v = $('#search_term').val();
                  $('#term_tree').jstree(true).search(v);
                  event.preventDefault();
              });
        });

        // Alternative search as you type method
        // $(function () {
        //       var to = false;
        //       $('#search_term').keyup(function () {
        //         if(to) { 
        //           clearTimeout(to); 
        //         }
        //         to = setTimeout(function () {
        //             var v = $('#search_term').val();
        //             $('#term_tree').jstree(true).search(v);
        //           }, 250);
        //         })
        //   });

        $( "document" ).ready(function() {
            // Open all
            var pre_selected = "{{ pre_selected }}";
            var pre_sel_list = pre_selected.split(",");

            pre_sel_list.map( function(item) {
                var node = '#' + item;
                // Open the node
                $('#term_tree').jstree(true).check_node(node);
            })
        });

      </script>

      <script src="{{ STATIC_URL }}js/tree_handler.js"></script>

{% endblock %}
