<!DOCTYPE HTML>
<html lang="en">

    <head>
        <title>{% block title %}{% endblock %}</title>
        {% include 'includes/header.html' %}
        {% block styles %}{% endblock %}
    </head>

    <div id="wrapper">

        {% include 'includes/menu.html' %}

        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        {% block page_heading %}{% endblock %}
                    </div>
                </div>
                <!-- /.col-lg-12 -->

                <div class="row">
                    <div class="col-lg-3">
                        {% block left_column %}{% endblock %}
                    </div>
                    <!-- /.col-lg-3 -->
                    <div class="col-lg-3">
                        {% block middle_column %}{% endblock %}
                    </div>
                    <!-- /.col-lg-3 -->

                    <div class="col-lg-6">
                        {% block right_column %}{% endblock %}
                    </div>
                    <!-- /.col-lg-6 -->

                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-12">
                        {% include 'includes/footer.html' %}
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container-fluid -->
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->

    {% include 'includes/javascript.html' %}

</body>

</html>
