{% extends "onecolumn.html" %}
{% load humanize %}
{% block title %}TeMMPo: Manage users{% endblock %}

{% block styles %}
<!-- DataTables CSS -->
<link href="https://cdn.datatables.net/1.13.8/css/dataTables.bootstrap.min.css" rel="stylesheet">
<!-- DataTables Responsive CSS -->
<link href="https://cdn.datatables.net/responsive/2.5.0/css/responsive.dataTables.min.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
<!-- DataTables JavaScript -->
<script src="https://cdn.datatables.net/1.13.8/js/jquery.dataTables.min.js" integrity="sha512-BQ3f0AMbTpWxc4YSQm03nL5LX7mb4KhgNQfEowc6IdpylTaRuzkiChTJISQlKWaof0rIYtHRaRBEl8G6F8GxzA==" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/1.13.8/js/dataTables.bootstrap.min.js" integrity="sha512-zAokAlVr3ADuYA4Z+Z4pQWPYZIqPwhGkvAqIFXA8PaPqtql3j6eBlMr6DK9UWNJBRuaJpk4CZUo44wCnGu8paA==" crossorigin="anonymous"></script>
<script src="https://cdn.datatables.net/responsive/2.5.0/js/dataTables.responsive.min.js" integrity="sha512-GFDiZYmIUHTqigl5L9/ABb+r8R2RlfDevKYvOqkH1QxdUk270OJ7gmdFrvk6bcZXijqG6FrbEajw/Dqx4qnlMA==" crossorigin="anonymous"></script>
<script>
$(document).ready(function() {
    $('#users').DataTable({
        responsive: true,
        "columnDefs": [
            { "orderable": false, "targets": [ -1,],
             }
            ],
        "order": [ 1, 'desc' ],   {# NB: Ensure remains in sync with ListView queryset ordering #}
    });
} );
</script>
{% endblock %}

{% block section_title %}Manage users{% endblock %}

{% block section %}
{% if messages %}
    <ul class="errorlist">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
{% endif %}

<table id="users" width="100%" class="table table-striped table-bordered table-hover">
    <caption>Users</caption>
    <thead>
        <tr>
            <th scope="col" class="dt-left">Username</th>
            <th scope="col" class="dt-left">Status</th>
            <th scope="col" class="dt-left">Date joined</th>
            <th scope="col" class="dt-left">Last log in</th>
            <th scope="col">Delete</th>
        </tr>
    </thead>
    <tbody>
        {% for each_user in user_list %}
        <tr>
            <th scope="row" class="dt-left">{{ each_user.username }}{% if each_user.is_superuser %} <em>(Super user)</em>{% elif each_user.is_staff %} (Staff){% endif %}</th>
            <td>{% if each_user.is_active %}Active{% else %}<em>Inactive</em>{% endif %}</td>
            <td scope="row" class="dt-left">{{ each_user.date_joined|date:"d M Y" }}</td>
            <td scope="row" class="dt-left">{% if each_user.last_login %}{{ each_user.last_login|date:"d M Y" }}{% else %}&nbsp;{% endif %}</td>
            <td><div class="controls">
                    {% if not each_user.is_superuser %}
                        {% if each_user.id != user.id %}
                        <a href="{% url 'delete_user' pk=each_user.pk %}" class="btn btn-danger">Delete user</a>
                        {% endif %}
                    {% endif %}
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
