# This is an implicit value, here for clarity
--index-url https://pypi.python.org/simple/
django-clamd==0.4.0
django-mptt==0.13.4
django-redis-cache==3.0.0
django-registration-redux==2.9
django-rq==2.5.1
django-autocomplete-light==3.8.2
Django==3.2.11  # rq.filter: >=3.2,<3.3
hiredis==2.0.0
lxml==4.7.1
more-itertools==8.12.0
mysqlclient==2.1.0
numpy==1.21.5       # Pegged by Python 3.6.x support
pandas==1.1.5       # Pegged by Python 3.6.x support
python-magic==0.4.24
redis==3.5.3
unicodecsv==0.14.1
xtract==0.1a3