# This is an implicit value, here for clarity
--index-url https://pypi.python.org/simple/
django-clamd==0.4.0
django-mptt==0.13.4
django-redis-cache==3.0.0
django-registration-redux==2.9
django-rq==2.4.1
django-autocomplete-light==3.8.2
Django==3.2.8  # rq.filter: >=3.2,<3.3
hiredis==2.0.0
lxml==4.6.3
more-itertools==8.10.0
mysqlclient==2.0.3
numpy==1.19.5
pandas==1.1.5
python-magic==0.4.24
redis==3.5.3
unicodecsv==0.14.1
xtract==0.1a3